* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eeeeee;
  color: #4e443c;
}

.container {
  margin: 20px auto;
  max-width: 1200px;
  max-width: 85%;
  padding: 20px 50px;
  background: #fff;
}

section {
  padding: 0 10px;
}

code {
  display: inline-block;
  background: #516353;
  padding: 5px;
  color: #fff;
  margin: 4px 10px 12px; 
}

h1, h2 {
  margin: 10px 0;
  color: #f64d27;
}

h3 {
  color: #000;
}

img {
  max-width: 100%;
}

.section-git p {
  margin-top: 5px;
  margin-left: 10px;
}

.section-git img {
  margin-left: 10px;
}

.section-git article {
  margin: 10px 0;
}

.text-muted {
  font-size: 14px; 
  color: #6c757d;
}

.section-additional {
  font-size: 14px;
  margin-top: 20px;
}

.section-additional h4 {
  color: #f64d27;
  display: inline-block;
  border-bottom: 1px solid #f64d27;
  margin-bottom: 15px;
  font-size: 18px;
}

.section-additional p { margin-bottom: 5px; }

.section-about-me {
  width: 200px;
}

.about-me-name { 
  border-top: 1px dashed #516353;
  padding-top: 5px;
  color: #f64d27; 
  margin-top: 20px;
}

.about-me-specialty { font-size: 12px}

.tab {
  font-size: 14px;;
  margin-left: 10px;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 20px;
  }
}